#main-footer {
    position: sticky;
    bottom: 20%;
}

.container-footer {
    height: 80px;
    background: linear-gradient(150deg, #0a366d, #2c578d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer .text-footer {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer mat-icon {
    font-size: 24px;
}