
<div class="login">
  <h1>Bienvenido</h1>
  <form class="form" [formGroup]="loginForm ">
    <app-error-message [errorMessage]="errorMessage" *ngIf="hasLoginError"></app-error-message>
      <div class="email">
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email@example.com" type="email" formControlName="email" required>
              <mat-error CustomLabel [formErrors]="loginForm.get('email')?.errors"></mat-error>
          </mat-form-field>
      </div>

      <div class="contraseña">
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="isHidden ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
                  <mat-icon>{{isHidden ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
              <mat-error CustomLabel [formErrors]="loginForm.get('password')?.errors"></mat-error>
          </mat-form-field>
      </div>
      <a mat-button class="change-password" (click)="OpenDialogNewPassword()">¿Has olvidado tu contraseña?</a>
      <div class="button-ingresar">
        <button mat-raised-button color="primary" (click)="sendLoginData()" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </div>
      <div class="registrarse">
          <span>¿Aun no tienes una cuenta? - </span>
          <a mat-button routerLink="/auth/register">Registrate</a>
      </div>
  </form>
</div>

