
<div class="login">
  <h1>Bienvenido</h1>
  <div class="errorMessage" *ngIf="hasLoginError">
      {{errorMessage}}
  </div>
  <form class="form" [formGroup]="loginForm ">
      <div class="email">
          <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email@example.com" type="email" formControlName="email" required>
              <mat-error CustomLabel [errors]="loginForm.get('email')?.errors"></mat-error>
          </mat-form-field>
      </div>

      <div class="contraseña">
          <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="isHidden ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
                  <mat-icon>{{isHidden ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
              <mat-error CustomLabel [errors]="loginForm.get('password')?.errors"></mat-error>
          </mat-form-field>
      </div>
      <a mat-button class="change-password" (click)="OpenDialogNewPassword()">¿Olvido su contraseña?</a>
      <div class="button-ingresar">
          <button mat-raised-button color="primary" (click)="sendLoginData()" [disabled]="loginForm.invalid">Ingresar</button>
      </div>
      <div class="registrarse">
          <span>¿Aun no tienes cuenta? -</span>
          <a mat-button routerLink="/auth/register"> Registrarme</a>
      </div>
  </form>
</div>

