    .container-client {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .container-client .container-BT {
        height: 100%;
        margin-top: 2%;
        /* margin-left: 30%; */
    }
    
    .container-BT>button {
        background-color: #2a5e9e;
        color: white;
    }
    
    .container-BT .table-cards {
        display: flex;
        margin-top: 20px;
    }
    
    .table-cards .mat-elevation-z8 {
        margin-right: 20px;
    }
    
    .edit-icon {
        color: #cfcf0f;
    }
    
    .delete-icon {
        color: #cf0d0d;
    }
    /*------------------------------------*/
    
    .container-cards mat-card {
        display: flex;
        align-items: center;
        width: 200px;
        height: 150px;
        font-size: 20px;
    }
    
    .container-cards .card-saldo {
        margin-bottom: 5px;
        background-color: #c93b3b;
        color: white;
    }
    
    .card-saldo mat-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 150%;
    }
    /*Card total-clientes*/
    
    .container-cards .card-totalClientes {
        background-color: rgb(63, 112, 40);
        color: white;
    }
    
    .card-totalClientes mat-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        height: 100px;
        width: 100px;
    }
    
    .card-totalClientes mat-card-content>mat-icon {
        height: 60px;
        width: 60px;
        font-size: 60px;
        margin-right: 5px;
    }
    
    .card-totalClientes mat-card-content>mat-icon {
        height: 60px;
        width: 60px;
        font-size: 55px;
        margin-right: 5px;
    }
    
    mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* --mdc-circular-progress-active-indicator-color: : linear-gradient(150deg, #0a366d, #2c578d); */
    }
    
     ::ng-deep .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: #213ac9;
    }
    
    .title-cliente {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        /* background-color: #b8cce4; */
        margin: 0 15px 0;
    }
    
     ::ng-deep .mat-mdc-table .header-table {
        background-color: #b8cce4 !important;
        font-size: 16px;
    }
    
    .header-table .filter-input {
        width: 150px;
        height: 70px;
        margin: 20px 0 0;
    }
    
     ::ng-deep .header-table .filter-input .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #b8cce4;
        --mdc-filled-text-field-input-text-placeholder-color: black;
    }
    
     ::ng-deep .header-table .filter-input .mat-form-field-placeholder {
        color: #FF0000;
    }
    
     ::ng-deep .red-snackbar {
        --mdc-snackbar-container-color: #a70202;
        --mdc-snackbar-supporting-text-color: white;
    }
    
     ::ng-deep .red-snackbar button {
        color: white !important;
    }