<div class="container-client">
    <div class="container-BT">
        <button mat-raised-button>
            <mat-icon>add</mat-icon>
            Agregar Cliente
        </button>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>


                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="saldo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> saldo </th>
                    <td mat-cell *matCellDef="let row"> {{row.saldo}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
        </div>
    </div>
</div>