<mat-spinner *ngIf="spinnerCheck"></mat-spinner>
<div class="container-client" *ngIf="!spinnerCheck">
    <div class="container-BT">
        <button mat-raised-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
            Agregar Cliente
        </button>
        <div class="table-cards">
            <div class="mat-elevation-z8">
                <h1 class="title-cliente">Listado De Clientes</h1>
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Apellido </th>
                        <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>


                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="saldo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Saldo </th>
                        <td mat-cell *matCellDef="let row"> {{row.saldo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table"> Editar </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="rutaEditar()">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="this.dataSource.data.length"></mat-paginator>
            </div>
            <div class="container-cards">
                <mat-card class="card-saldo">
                    <mat-card-header>
                        <mat-card-title>Saldo Total</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        {{saldoTotalVar | currency: 'USD'}}
                    </mat-card-content>
                </mat-card>

                <mat-card class="card-totalClientes">
                    <mat-card-header>
                        <mat-card-title>Total Clientes</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-icon>groups</mat-icon>
                        <div>
                            {{clientes.length}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>