.container-header {
    display: flex;
    background-color: #c2b79b;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .text-client {
    font-size: 20px;
    font-weight: bold;
    color: #243757;
    /* margin-left: 15%; */
}

.text-client mat-icon {
    font-size: 25px;
    /* width: 40px; */
    /* height: 30px; */
    font-weight: bold;
    margin-right: 5px;
}