<div class="container-dialog">
    <div class="title">
        <h1>Recuperar Contraseña</h1>
        <button mat-button color="warn" (click)="dialogClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class>
        <form>
            <mat-form-field appearance="outline" id="email">
                <mat-label>Ingrese su email</mat-label>
                <input matInput placeholder="email@example.com" type="email" [formControl]="email">
                <mat-error *ngIf="(this.email.invalid)">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </form>

    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" [disabled]="validateForm()" (click)="saveEmail()">Restablecer contraseña</button>
    </div>
</div>