.container-register {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(150deg, #0a366d, #2c578d);
    width: 100%;
    height: 100%;
}

.registro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    width: 400px;
    border-radius: 10px solid gray;
    /* color: gray; */
    /* box-shadow: 5px 5px 5px rgba(99, 145, 243, 0.644); */
}

.registro h1 {
    margin-top: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-size: 30px;
    font-weight: bolder;
}

.registro .form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 20px;
}

.registro .email mat-form-field {
    width: 300px;
}

.registro .contraseña mat-form-field {
    width: 300px;
}

.registro .button-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro .button-registrar button {
    font-size: 17px;
    width: 90%;
    border-radius: 19px;
    margin-bottom: 25px;
    background-color: #0f4d99;
    color: white;
    box-shadow: 2px 3px 5px rgba(104, 104, 104, 0.644)
}

.registro a {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 5px; */
    margin-bottom: 20px;
}

.registro .registrarse {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.registro .registrarse a {
    margin-top: 15px;
}

.registro .errorMessage {
    display: flex;
    justify-content: center;
    color: red;
    background-color: rgba(252, 163, 163, 0.308);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}


/*----Clases SnackBar----*/


/* ::ng-deep .classColor {
    border-radius: 5px;
    --mdc-snackbar-container-color: green;
    --mdc-mdc-snack-bar-button-color: blue;
} */

::ng-deep .green-snackbar {
    --mdc-snackbar-container-color: #015201;
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .green-snackbar button {
    color: white;
    --mat-mdc-snack-bar-button-color: #f5f5f5;
}

::ng-deep .red-snackbar {
    --mdc-snackbar-container-color: #790000;
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .red-snackbar .mat-snack-bar-container button {
    color: white;
    --mat-mdc-snack-bar-button-color: #f5f5f5;
}


/*------------------------------------------*/

.button-back a {
    color: white;
    margin: 5% 10% 0;
}