.header {
    color: white;
}

.toolbar mat-toolbar-row {
    background: linear-gradient(150deg, #0a366d, #2c578d);
    display: flex;
    justify-content: space-between;
    padding: 0 215px;
}

.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.toolbar .buttonMenu {
    color: white;
    width: 320px;
}


/*-------Menu Button--------*/

.buttonMenu mat-icon-button {
    flex: end;
}

.ocultar {
    display: none !important;
}

.containerButtonsHome {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button #arrow-down {
    order: 2;
}

@media (max-width: 700px) {
    .toolbar .buttonMenu {
        color: white;
        width: 50px;
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .menu-button .text-welcome {
        display: none;
    }
    .home-button .home-text {
        font-size: 13px;
    }
}
