.container-header {
    background-color: #c2b79b;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header .text-client {
    font-size: 40px;
    font-weight: bold;
    color: #243757;
}

.text-client mat-icon {
    font-size: 30px;
    width: 40px;
    height: 30px;
    font-weight: bold;
}