.header {
    color: white;
}

.toolbar {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
}

.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.toolbar .buttonMenu {
    color: white;
}