.header {
    color: white;
}

.toolbar mat-toolbar-row {
    background-color: #243757;
    display: flex;
    justify-content: space-between;
}

.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.toolbar .buttonMenu {
    color: white;
}


/*--------------SIDENAV------------*/

.sidenavContainer {
    display: flex;
    height: 90vh;
}

.sidenavContainer mat-sidenav {
    width: 200px;
    background-color: #243757;
}

.sidenavContainer mat-sidenav .navList a {
    --mdc-list-list-item-leading-icon-color: rgb(255 255 255 / 63%);
    --mdc-list-list-item-label-text-color: rgb(255 255 255 / 87%);
    display: flex;
    justify-content: flex-end;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 40px;
    margin-right: 6px;
}


/*------Menu Button--------*/

.menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button #arrow-down {
    order: 2;
}