.header {
    color: white;
}

.toolbar mat-toolbar-row {
    background-color: #243757;
    display: flex;
    justify-content: space-between;
}

.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.toolbar .buttonMenu {
    color: white;
    width: 320px;
}


/*-------Menu Button--------*/

.buttonMenu mat-icon-button {
    flex: end;
}

.ocultar {
    display: none !important;
}

.containerButtonsHome {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button #arrow-down {
    order: 2;
}

@media (max-width: 699px) {
    .toolbar .buttonMenu {
        color: white;
        width: 50px;
        font-size: 12px;
    }
}