.container-register {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(150deg, #0a366d, #2c578d);
    width: 100%;
    height: 100%;
}

.registro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    width: 400px;
    border-radius: 10px solid gray;
}

.registro h1 {
    margin-top: 20px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-size: 30px;
    font-weight: bolder;
}

.registro .form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 20px;
}

.registro .email mat-form-field {
    width: 300px;
}

.registro .contraseña mat-form-field {
    width: 300px;
}

.registro .button-registrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro .button-registrar button {
    font-size: 17px;
    width: 90%;
    border-radius: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #0f4d99;
    color: white;
    box-shadow: 2px 3px 5px rgba(104, 104, 104, 0.644)
}

.registro .button-registrar button:disabled {
    background-color: #d8d9da;
    color: white;
    box-shadow: 2px 3px 5px rgba(104, 104, 104, 0.644)
}

.registro a {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.registro .registrarse {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro .registrarse a {
    margin-top: 15px;
}

.registro .errorMessage {
    display: flex;
    justify-content: center;
    color: red;
    background-color: rgba(252, 163, 163, 0.308);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}


/*----Clases SnackBar----*/

::ng-deep .green-snackbar {
    --mdc-snackbar-container-color: #015201;
    --mdc-snackbar-supporting-text-color: white;
    --mat-mdc-snack-bar-button-color: #fff !important;
}

::ng-deep .green-snackbar button {
    color: white !important;
}

::ng-deep .red-snackbar .mat-snack-bar-container button {
    color: white;
    --mat-mdc-snack-bar-button-color: #f5f5f5;
}


/*------------------------------------------*/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -15px; */
  margin-bottom: 15px;
}

.login a {
    margin-top: 15px;
    color: #1a1ace;
}


/*-----------------------------------------------*/
@media (max-width: 414px) {
    .registro {
        width: 350px;
    }
    .registro .form {
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    .registro {
        width: 320px;
    }
    .registro .form {
        padding: 0 35px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .registro .email mat-form-field {
        position: relative;
        width: 250px;
    }
    .registro .contraseña mat-form-field {
        width: 250px;
    }
}

@media (max-width: 280px) {
    .registro {
        width: 250px;
    }
    .registro .form {
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .registro .email mat-form-field {
        position: relative;
        width: 210px;
    }
    .registro .contraseña mat-form-field {
        width: 210px;
    }
    .registro .button-registrar button {
        font-size: 13px;
        width: 85%;
    }
}
