<footer class="footer">
  <section class="container-footer">
    <div class="copyright">
      <span class="text-copyright">Copyright</span>
      <mat-icon class="icon">copyright</mat-icon>
      <span>{{'erickromeronieto789@gmail.com'}}</span>
    </div>

    <div class="social-media">

      <a
        class="social-icon"
        href="https://www.linkedin.com/in/erick-romero-nieto-a38786272/"
        target="_blank"
        rel="noopener noreferrer"
        title="Linkedin"
      >
        <img src="../../../assets/icons/icon-linkedin.svg" alt="likedin Icon">
      </a>

      <a
        class="social-icon"
        href="https://github.com/Erickroni19/control-clientes"
        target="_blank"
        rel="noopener noreferrer"
        title="Github"
      >
        <img src="../../../assets/icons/icon-github.svg" alt="github Icon">
      </a>

    </div>
  </section>

  <div class="footer-decoration"></div>

</footer>
