.container-header {
    background-color: #c2b79b;
    height: 10vh;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.container-header .text-client {
    font-size: 25px;
    font-weight: bold;
    color: #243757;
    margin-left: 20%;
}

.text-client mat-icon {
    font-size: 25px;
    /* width: 40px; */
    /* height: 30px; */
    font-weight: bold;
    margin-right: 5px;
}

.buttons {
    margin: 20px 20% 20px;
}

.buttons button:nth-child(2) {
    color: white;
    background-color: rgb(45, 128, 45);
    margin: 0 5px 0;
}

.permitir-registro {
    margin: 10px 20% 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.permitir-registro .card-container {
    background-color: aliceblue;
}

.permitir-registro .card-container>h1 {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0a366d;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.permitir-registro .card-container>mat-card-content {
    margin-left: 20px;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: #0d4a96 !important;
    background-color: #0a366d !important;
}


/*--Responsive---*/

@media (max-width: 699px) {
    .container-header {
        height: 10vh;
        display: flex;
        align-items: center;
    }
    .container-header .text-client {
        font-size: 25px;
        font-weight: bold;
        color: #243757;
        margin-left: 3%;
    }
}