<div class="container-dialog">
    <div class="tittle">
        <h1>{{data.idEjecucion}} Cliente</h1>
    </div>
    <form [formGroup]="addClientForm">
        <div class="name-input">
            <mat-form-field appearance="outline" id="nombre">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre">
                <mat-error *ngIf="(this.addClientForm.get('nombre')?.invalid)">{{getErrorMessage('nombre')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" id="apellidos">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" formControlName="apellido">
                <mat-error *ngIf="(this.addClientForm.get('apellido')?.invalid)">{{getErrorMessage('apellido')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="email-saldo">
            <mat-form-field appearance="outline" id="email">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email@example.com" type="email" formControlName="email" (input)="inputField('email')">
                <mat-error *ngIf="(this.addClientForm.get('email')?.invalid)">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" id="saldo">
                <mat-label>Saldo</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="saldo">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
                <mat-error *ngIf="(this.addClientForm.get('saldo')?.invalid)">{{getErrorMessage('saldo')}}</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" [ngStyle]="{'background-color': validarFormulario() ? 'lightgray' : '#2f6136'}" [disabled]="validarFormulario()" (click)="saveData()">Guardar</button>
        <button mat-raised-button color="warn" (click)="dialogClose()">Cerrar</button>
    </div>
</div>